Create .env file 
Add environment variables to the env file 

REACT_APP_SANITY_PROJECT_ID = o6cc678v
REACT_APP_SANITY_TOKEN = skhdgPSVzOU3ZuE73l3wu1kXrE52AKPKGQ67QPtx3UTRiZhAeybB8uPD0AfeJrGvy0P9y0zIjpk7RawFIJZIfuYnhzqiDbDM9ER7SNqHclC4j48lvZvyEFlqFBkiD2wTNMC1osFgnXzClGOlVJSEgF9L8fRBu8xJ7FQOuaNWA2OmP8aSAZ3V